body {
    background-color: #9bafbe;
    text-align: center;
}

.heading {
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 38px;
    color: #575b63;
}

h2 {
    margin: 15px 15% 0 15%;
    color: #727c83;
}

p {
    margin: 0 18% 0 18%;
}

li {
    margin: 0 25% 0 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

p, li {
    color: #726b61;
}